<header>
    <div class="container">
        <div class="links">
            <a href="#">фуд-студия</a>
            <a href="#">кейтеринг</a>
        </div>
        <nav class="header-menu">
            <span><a href="#">о школе</a></span>
            <span><a href="#">календарь</a></span>
            <span><a href="#">услуги</a></span>
            <span><a href="#">заказать</a></span>
            <span><a href="#">рецепты</a></span>
            <span><a class="active" href="#">контакты</a></span>
        </nav>
        <div class="header-contacts">
            <span class="phones">812 964 76 77</span>
            <br />
            <a href="#">карта проезда</a>
            <br />
            <a href="#">все события школы</a>
        </div>
        <a href="#" class="logo"><img src="assets/logo.png" alt="" /></a>
        <div class="header-text">
            Наша кулинарная школа приглашает вас пройти обучение в рамках предлагаемых занятиях и совершенствовать свои кулинарные умения на наших мастер классах. бла бла бла
        </div>

    </div>
</header>
<div class="content">
 <div class="fotorama-container main-page">
        <div class="fotorama" data-width="100%" data-height="750" data-aspectRatio="1.5"
        data-minHeight="750" data-fitToWindowHeight="true" data-fitToWindowHeightMargin="0" data-margin="0"
        data-shadows="false" data-cropToFit="true">
        <div class="slide" id="slide-1">
            <div class="slide-content">
                <div class="container">
                    <div class="slide-buttons">
                        <a href="#" class="button-blue">я пойду!</a>
                        <br />
                        <a href="#">15 человек уже записались</a>
                        <a class="comments read" href="#"><span>15 комментариев</span></a>
                        <a class="comments write" href="#"><span>комментировать</span></a>
                    </div>
                    <div class="slide-text">
                        <h2>Мастер-класс по приготовлению праздничного ужина к 8 марта!</h2>
                        <span class="slide-date">12 апреля: 4 занятия по 2,5–3 часа</span>
                        <p>
                            Будем учиться готовить изысканную итальянскую закуску, нежнейшей рулет из индейки с вялеными томатами и десерт Тирамису.
                        </p>
                        <a href="#" class="button-blue active">подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" id="slide-2">
            <div class="slide-content">
                <div class="container">
                    <div class="slide-buttons">
                        <a href="#" class="button-blue">я пойду!</a>
                        <br />
                        <a href="#">15 человек уже записались</a>
                        <a class="comments read" href="#"><span>15 комментариев</span></a>
                        <a class="comments write" href="#"><span>комментировать</span></a>
                    </div>
                    <div class="slide-text">
                        <h2>Мастер-класс по приготовлению праздничного ужина к 23 февраля!</h2>
                        <span class="slide-date">12 апреля: 4 занятия по 2,5–3 часа</span>
                        <p>
                            Будем учиться готовить изысканную итальянскую закуску, нежнейшей рулет из индейки с вялеными томатами и десерт Тирамису.
                        </p>
                        <a href="#" class="button-blue active">подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="blocks-main">
        <div class="block">
            <a href="#"><img src="assets/demo1.jpg" alt="" /></a>
            <h2>«Готовим с удовольствием» — курс для начинающих кулинаров.</h2>
            <span class="blocks-date">5 апреля 16:00 | 1500 <span class="b-rub">Р</span></span>
            <p>
                В своей основе курс рассчитан для начинающих кулинаров. Научиться готовить может каждый.
            </p>
            <a href="#">Подробнее</a>
        </div>
        <div class="block">
            <a href="#"><img src="assets/demo1.jpg" alt="" /></a>
            <h2>«Готовим с удовольствием» — курс для начинающих кулинаров.</h2>
            <span class="blocks-date">5 апреля 16:00 | 1500 <span class="b-rub">Р</span></span>
            <p>
                В своей основе курс рассчитан для начинающих кулинаров. Научиться готовить может каждый.
            </p>
            <p>
                В своей основе курс рассчитан для начинающих кулинаров. Научиться готовить может каждый.
            </p>
            <a href="#">Подробнее</a>
        </div>
        <div class="block">
            <a href="#"><img src="assets/demo1.jpg" alt="" /></a>
            <h2>«Готовим с удовольствием» — курс для начинающих кулинаров.</h2>
            <span class="blocks-date">5 апреля 16:00 | 1500 <span class="b-rub">Р</span></span>
            <p>
                В своей основе курс рассчитан для начинающих кулинаров. Научиться готовить может каждый.
            </p>
            <a href="#">Подробнее</a>
        </div>
    </div>
    <div class="blocks-bottom">
        <div class="block">
            <a href="#"><img src="assets/demo1.jpg" alt="" /></a>
            <h2>«Готовим с удовольствием» — курс для начинающих кулинаров.</h2>
            <span class="blocks-date">5 апреля 16:00 | 1500 <span class="b-rub">Р</span></span>
            <p>
                В своей основе курс рассчитан для начинающих кулинаров. Научиться готовить может каждый.
            </p>
            <a href="#">Подробнее</a>
        </div>
        <div class="block">
            <a href="#"><img src="assets/demo1.jpg" alt="" /></a>
            <h2>«Готовим с удовольствием» — курс для начинающих кулинаров.</h2>
            <span class="blocks-date">5 апреля 16:00 | 1500 <span class="b-rub">Р</span></span>
            <p>
                В своей основе курс рассчитан для начинающих кулинаров. Научиться готовить может каждый.
            </p>
            <p>
                В своей основе курс рассчитан для начинающих кулинаров. Научиться готовить может каждый.
            </p>
            <a href="#">Подробнее</a>
        </div>
        <div class="block">
            <a href="#"><img src="assets/demo1.jpg" alt="" /></a>
            <h2>«Готовим с удовольствием» — курс для начинающих кулинаров.</h2>
            <span class="blocks-date">5 апреля 16:00 | 1500 <span class="b-rub">Р</span></span>
            <p>
                В своей основе курс рассчитан для начинающих кулинаров. Научиться готовить может каждый.
            </p>
            <a href="#">Подробнее</a>
        </div>

    </div>
</div>

<footer>
    <div class="container">

        <div class="footer-menu">
            <nav>
                <a href="#" class="section active">кулинарная школа</a>
                <ul>
                    <li>
                        <a href="#"> о школе</a>
                    </li>
                    <li>
                        <a href="#">календарь событий</a>
                    </li>
                    <li>
                        <a href="#">архив событий</a>
                    </li>
                    <li>
                        <a href="#">услуги нашей школы</a>
                    </li>
                    <li>
                        <a href="#">заказать услуги</a>
                    </li>
                    <li>
                        <a href="#">рецепты вкусностей</a>
                    </li>
                    <li>
                        <a href="#">контакты школы</a>
                    </li>
                </ul>
            </nav>
            <nav>
                <a href="#" class="section">фуд-студия</a>
                <ul>
                    <li>
                        <a href="#"> о фуд-студии</a>
                    </li>
                    <li>
                        <a href="#">портфолио</a>
                    </li>
                    <li>
                        <a href="#">заказать услуги</a>
                    </li>
                    <li>
                        <a href="#">стоимость услуг</a>
                    </li>
                    <li>
                        <a href="#">контакты студии</a>
                    </li>
                </ul>
            </nav>
            <nav>
                <a href="#" class="section">кейтеринг</a>
                <ul>
                    <li>
                        <a href="#"> о фуд-студии</a>
                    </li>
                    <li>
                        <a href="#">портфолио</a>
                    </li>
                    <li>
                        <a href="#">заказать услуги</a>
                    </li>
                    <li>
                        <a href="#">стоимость услуг</a>
                    </li>
                    <li>
                        <a href="#">контакты студии</a>
                    </li>
                </ul>
            </nav>
        </div>
        <a href="footer-logo"><img src="assets/footer-logo.png" alt="" /></a>
        <div class="social">
            <a rel="vk" href="#"><img src="assets/vk.png" /></a>
            <a rel="fb" href="#"><img src="assets/fb.png" /></a>
            <a rel="tw" href="#"><img src="assets/tw.png" /></a>
        </div>
        <div class="buf"></div>
        <div class="footer-contact">
            <span>812 964 76 77</span>
            <br />
            <a href="#">Измайловский, 17а</a>
        </div>
        <div class="copy">
            2013 © студия вкусноты «Красиво подано», все права защищены
            <br />
            вы имеете право хранить молчание, повара, всё что вы скажете может быть приготовлено в супе
        </div>
    </div>
</footer>
