<% @title = "О школе" %>

<div class="content">
  <div class="container" style="margin-top: 200px; margin-bottom: 50px; min-height: 300px;">
	<div class="text-page">
	<h3>Наша школа открыта  для всех, кто хочет научиться готовить не хуже шеф-повара и, приходя в ресторан, смотреть на подаваемые блюда взглядом эксперта, а также для тех, кто лишен тщеславия и просто желает порадовать своих домашних. </h3>
            
    <h1>Кто может стать нашим учеником?</h1>
   
    <p>Каждый, кто неравнодушен к высокой кухне, новым знаниям и умениям, а также все, кто любит нескучно и с пользой проводить свободное время. </p>

    <h1>Чему учим?</h1>

    <p>Каждый месяц мы разрабатываем учебную программу - наше "<a style="color: #249ee7;" href="http://krasivopodano.ru/future">Расписание занятий</a>". Оно строится по принципу "сегодня в ресторане, завтра на уроке". В нашем учебном плане вы всегда найдете самые известные ресторанные блюда, а значит, уже совсем скоро сможете сами их готовить и, конечно же, красиво подавать.</p>

    <h1>В школу нужно ходить каждый день?</h1>

    <p>Вовсе нет. Просто выберите из расписания самый интересный для вас урок и запишитесь на него. </p>

    <h1>Как проходят занятия?</h1>

    <p>Все уроки в "Красиво подано" проходят в форме мастер-классов. Мы приглашаем лучших шеф-поваров, которые нескучно рассказывают, интересно показывают и чутко помогают каждому ученику сделать все на высшем уровне. Каждый из наших гостей во время урока получает все необходимые продукты, посуду, индивидуальное рабочее место с  варочной поверхностью и духовым шкафом. </p>

    <h1>Сколько длится один урок?</h1>

    <p>От 1,5 до 3-х часов - все зависит от количества блюд, которые шеф-повар будет вместе с вами интересно готовить. Однако в Расписании есть и "задачки со звездочкой" - это уроки, которые разбиты на несколько частей и проходят в течение 2 или даже 3 дней. В этом случае вы можете записаться на ту часть занятия курса, которая вам больше всего интересна, или же, как прилежный ученик, посетить все уроки. </p>

    <h1>Сколько человек может находиться в классе во время занятия?</h1>

    <p>У нас есть 12 отдельных полностью оборудованных рабочих мест для учеников. Но вы также можете взять с собой знакомых и друзей, которые  будут наблюдать за ростом вашего кулинарного мастерства. А после - смогут отметить ваши успехи, попробовав приготовленные блюда в нашей уютной гостиной. </p>

    <h1>Никаких конспектов!</h1>

    <p>У нас нет утомительных лекций, теоретических занятий, рассказов о том, как шеф в свое время служил в армии или однажды ездил с друзьями на рыбалку. Хотя, может быть, это наше упущение… Однако мы постарались выстроить программу каждого мастер-класса максимально информативной, доступной и увлекательной. Вы учитесь готовить "здесь и сейчас" - все, что есть у шефа на столе, есть и у вас, вместе с его советами, наставлениями и обаянием вы, повторяя за мастером, готовите блюда высокой кухни.</p>

    <h1>А с детьми к вам можно?</h1>

    <p>Нужно! Даже для самых маленьких у нас есть занятия, которые научат юных кулинаров готовить их любимые блюда. К тому же, кулинарный утренник - один из самых увлекательных способов отметить День рождения. Расскажите нам о своем желании устроить детский праздник в Красиво Подано и <a style="color: #249ee7;" href="http://krasivopodano.ru/future">запишитесь на урок прямо сейчас</a>.</p>

    <h1>Вечеринка в школе!</h1>

    <p>Приходите к нам с друзьями, чтобы интересно и необычно отметить День рождения или любой значимый для вас праздник. В этот день школа будет работать только для вас. Мы подготовим особый мастер-класс для вас и ваших гостей, торжественно украсим гостиную, позовем музыкантов - устроим самую настоящую вечеринку. В такие дни Красиво Подано превращается в небольшой уютный семейный ресторанчик, в котором у вас всегда есть доступ на кухню.</p>

    <h1>Индивидуальные занятия </h1>

    <p>Мы понимаем, что в школу ходить иногда не хочется, хочется загорать и купаться. Именно поэтому мы приготовили выездные мастер-классы. В этот день школа приезжает к вам! Посуда, вся необходимая мебель, продукты, мангалы и печи отправляются туда, где вы их больше всего расположены видеть. Мы даже можем не нагружать вас знаниями, а просто приехать, приготовить, сервировать столы и, конечно, красиво подать ваши любимые блюда. Некоторые называют это "кейтеринг", но мы - индивидуальными занятиями. </p>
    </div>
    </div>
</div>