<div class="content">

	<div class="container" style="margin-top: 200px; margin-bottom: 50px; min-height: 300px;">
	
	<aside>
           
           <script type="text/javascript" src="http://vk.com/js/api/openapi.js?93"></script>

<!-- VK Widget -->
<div id="vk_groups" style="margin-top: 20px;"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 0, width: "300", height: "330", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 51178669);
</script>
       </aside>
        <section class="event-main">
            <h1>Услуги</h1>

        </section>
        <div class="buf"></div>
    </div>
</div>