<% content_for :head do %>
<script type="text/javascript" src="//vk.com/js/api/openapi.js?98"></script>
<% end %>

<script type="text/javascript">
  VK.init({apiId: 3833729, onlyWidgets: true});
</script>


<% @title = @article.html_title %>
<% @meta_description = @article.meta_description %>

<div class="content">
  <div class="container blog" style="margin-bottom: 50px">
    
	<h1><%= @article.title %></h1>
	<% unless @article.date.nil? %>
	<div class="blog_date"><%= Russian::strftime(@article.date, "%d %B %Y %H:%M") %></div>
	<% end %>
    <div class="blog_text"><%= @article.text.html_safe %></div>
	
	

	<script type="text/javascript" src="//yandex.st/share/share.js"
	charset="utf-8"></script>
	<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir"></div>
	

	<div id="vk_comments"></div>
	<script type="text/javascript">
	VK.Widgets.Comments("vk_comments", {limit: 10, width: "520", attach: "*"});
	</script>
	
  </div>
</div>
