

<% @title = @article.title %>

<div class="content">
  <div class="container blog" style="margin-bottom: 50px">
    
	<h1><%= @article.title %></h1>
	<div class="blog_date"><%= Russian::strftime(@article.date, "%d %B %Y %H:%M") %></div>
    <div class="blog_text"><%= @article.text.html_safe %></div>
	
	

	<script type="text/javascript" src="//yandex.st/share/share.js"
	charset="utf-8"></script>
	<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir"></div>
	
	


  </div>
</div>
