<% @title = "Вакансии" %>

<div class="content">
  <div class="container blog">
    
	
		
    <div class="blog_main" style="" id="articles">
		<% @vacancies.each do |vacancy| %>
		
		<div class="blog-element">
		    <h1><%= vacancy.title %></h1>
			<div class="read_more"><%= link_to "Читать дальше", vacancy %></div>
			<%= image_tag('after_article.png', :class => 'after_article') %>
		</div>
		
		<% end %>
    </div>
	
	<div class="buf"></div>


  </div>
</div>
