<% @title = "Кулинарные мастер-классы в Санкт-Петербурге" %>
<% @meta_description = 'Душевные кулинарные мастер-классы для маленьких и взрослых в центре Петербурга. Учим готовить и красиво подавать блюда высокой кухни в правильной атмосфере. Проводим занятия как для искушенных кулинаров, так и для начинающих' %>
<div class="content">
	<div style="margin-top: 250px;">
    <div class="blocks-bottom">
		<% @recipes.each do |recipe| %>
        <div class="block" style="margin-top: -80px;">
            <%= link_to image_tag(recipe.image.url(:medium)), recipe %>
            <h2><%= recipe.title %></h2>
            <p><%= recipe.shorttext %></p>
            <%= link_to "подробнее", recipe %>
        </div>
		<% end %>
    </div>
	</div>
</div>