<div class="content">

	<div class="container" style="margin-top: 200px; margin-bottom: 50px; min-height: 300px;">
	
 
            <h1><%= @recipe.title %></h1>
            <%= raw @recipe.text.html_safe %>
			<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
			<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir"></div>
    </div>
</div>