<% @title = @page.html_title %>
<% @meta_description = @page.meta_description %>

<div class="content">

	<div class="container" style="margin-top: 200px; margin-bottom: 50px; min-height: 300px;">
	
 
            <h1><%= @page.title %></h1>
            <%= raw @page.text.html_safe %>

    </div>
</div>