<div class="content">
  <div class="container" style="margin-bottom: 50px; min-height: 300px;">
	<div class="text-page">
		<h1>Кулинарные мастер-классы для взрослых и детей</h1>

		<p>Если есть свободное время - потратьте его с пользой и удовольствием. Просто купите билет на урок и приходите к нам на занятия. Точно так же, как вы это делаете, когда собираетесь в кино.</p>

		<p>Все мастер-классы в нашей школе могут быть длинными или короткими:</p>


		<h3 style="text-transform: uppercase">Короткий мастер-класс</h3>

		<p>Проводятся в один день. Длится от 1.5 до 3 часов в зависимости от 
		количества блюд, которые вам предстоит научиться готовить. </p>

		<h3 style="text-transform: uppercase">Длинный мастер-класс</h3>

		<p>Может проходить в течение 2-х или 3-х дней. 
		Мы разбиваем большой урок на несколько частей. Вы можете купить
		билет на одно из занятий курса или приобрести абонемент  по более
		привлекательной цене.</p>

		<h1>Детские Дни рождения и праздники</h1>

		<p>Школа превращается в домашний ресторанчик. Большая светлая гостиная
		украшается шарами и гирляндами, мы приглашаем аниматоров, готовим
		праздничный торт, разрабатываем специальное меню для наших маленьких
		гостей. Вы также можете заказать праздничный кулинарный мастер-класс -  всегда интересно и весело попробовать приготовить угощение самим.</p>

		<h1>Проведение любых торжественных событий в Школе </h1>

		<p>Дружеские посиделки</br>
		Девичники/Мальчишники</br>
		Дни рождения</br>
		Корпоративные вечеринки</p>

		<p>В этот день наш шеф приготовит особый мастер-класс, на котором каждый из ваших гостей сможет попробовать себя в качестве повара одного из лучших ресторанов. Программа вечера может быть абсолютно любой - просто расскажите нам, как бы вам хотелось красиво отдохнуть, и мы абсолютно все подготовим:</p>

		<p>- трансферы гостей в школу и из школы;</br>
		- фото и видеосъемку вечеринки;</br>
		- кулинарные конкурсы и мастер-классы;</br>
		- разработаем особое меню;</br>
		- пригласим музыкантов и артистов.</p>

		<h1>Выездные мастер-классы</h1>

		<p>Когда отдых уже спланирован, место выбрано, гости приглашены, но хочется сделать вечеринку еще интереснее. Как насчет гастрономического мастер-класса у вас дома или за городом под тенью ветвистых деревьев, на свежем воздухе в окружении добрых друзей, любящих интересно и с пользой проводить свое время? </p>
	<p>Мы привезем все необходимое оборудование, посуду, продукты - все, что требуется для приготовления выбранных вами блюд. Увлекательный кулинарный урок станет отличным сюрпризом для гостей. </p> 

		<h1>Шеф-повар в аренду (или "Шеф повар на час")</h1>

		<p>На тот случай, если вы хотите удивить каждого, кто сядет за ваш праздничный стол в этот вечер. Но здесь есть опасность - лавина вопросов и просьб поделиться рецептом и фирменным секретом может накрыть. Будьте осторожны.</p>

		<h1>Фото-  и видеосъемка кулинарных событий </h1>

		<p>Мастер-класс - это всегда интересно и весело. Это новый опыт, новые знакомства, новое ощущение себя. Будет обидно остаться без ярких воспоминаний.</p>
		<p>Именно поэтому в Красиво Подано есть настоящая профессиональная фотостудия. Работы фуд-стилиста Максима Николаева можно увидеть в меню лучших ресторанов Санкт-Петербурга и Москвы. А фотоотчеты о последних  событиях Школы  - в группе "Контакте".</p>
		<p>Вы  можете заказать у нас специальный фото или видеорепортаж вашего мероприятия в Красиво Подано или вне стен Школы прямо сейчас.</p>

		<h1>Организация трансфера гостей Школы</h1>

		<p>Встретим и с комфортом доставим вас и ваших гостей в Красиво Подано. А после мероприятия так же красиво и бережно развезем по домам.</p>

    </div>
    </div>
</div>