<div class="content">
  <div class="container" style="margin-bottom: 50px; min-height: 300px;">
	<div class="text-page">
		<h1>Красиво показать</h1>

		<p>Этот раздел будет интересен владельцам, управляющим и менеджерам ресторанов, а также тем, кто только задумался об открытии своего заведения. И вот почему…<br/><br/>
		<b>Красиво Подано &#8212 это уникальная фуд-студия, которая производит:</b>
<br/>
		&#8212 фотосъемку еды и готовых блюд для ресторанных меню, рекламных мероприятий и товарных упаковок;
<br/>
		&#8212 интерьерную фотосъемку ресторанов и гостиниц;
<br/>
		&#8212 разработку меню и специальных предложений.</p>

		<h1>Почему у нас это получается лучше других?</h1>

		<p>Мы создали по-настоящему универсальное пространство для решения ваших задач, следуя простому и очевидному рецепту &#8212 совместили ресторан и профессиональную фотостудию. Одно не уступает по красоте и функциональности другому.</p>

		<h1>И что из этого?</h1>

		<p>Процесс фотосъемки еды очень кропотлив. Цена малейшей ошибки велика, и эту цену вы будете платить всякий раз, когда ваши гости будут открывать меню, а после - уходить из ресторана.</p>

		<h1>Что нужно, чтобы ваши посетители после просмотра меню заказывали больше?</h1>

		<p>Достаточно соблюсти всего лишь три условия:

		&#8212 фотографировать только свежие блюда &#8212 здесь и сейчас;
<br/>
		&#8212 дать возможность вашему повару в спокойной, комфортной обстановке их приготовить;
<br/>
		&#8212  а профессиональному фуд-стилисту в комфортной уже для него обстановке их тут же сфотографировать.</p>

		<h1>Мы фотографируем &#8212 ресторан работает</h1>
<br/>
		<p>Теперь нет необходимости нарушать обычную работу вашего ресторана, думать о том, как с наименьшими потерями для  заведения обеспечить максимально комфортные условия для выполнение своих задач фуд-стилисту. 
		Достаточно шефу приехать в Красиво Подано, где он педантично и с любовью, ни в чем себе не отказывая, приготовит, а мы красиво снимем.</p>
<br/>
		<h1>Если фотографировать пока нечего</h1>
<br/>
		<p>Пока у вас есть только идея &#8212 открыть свой собственный ресторан, сделать так, чтобы он стал любимым местом встреч, радовал гостей интерьером и кухней и, конечно же, был не похож  ни один другой.
			<br/>
		Однако обращали ли вы внимание на то, как скоро порой закрываются заведения, которые, с первого взгляда, были обречены на успех? Уютный интерьер, обходительный персонал, выгодное расположение - все, казалось бы, было соблюдено, но для успеха чего-то не хватило…
<br/>
		Быть может, все дело в меню? И тут гадать не приходится &#8212 в нем.
<br/>
		Шеф-повара Красиво Подано разработают  уникальное меню и технологические карты именно для вашего ресторана.</p>

		<h1>Почему нашему меню можно верить?</h1>

		<p>Мы точно знаем, что понравится вашим гостям - уже сегодня мы можем с уверенностью сказать какие блюда будут востребованы и любимы. Ведь каждый день к нам приходят на мастер-классы ваши потенциальные посетители.</p>
		
    </div>
    </div>
</div>