<div class="content">
  <div class="container" style="margin-bottom: 50px; min-height: 300px;">
	<div class="text-page">
		<h1>Раздел находится в разработке</h1>
		</br>
		<p>Пока мы наполняем сайт, вы можете посмотреть работы <a href="http://maxnikolaev.ru/" target="_blank" class="link">здесь</a>
    </div>
    </div>
</div>