<% @title = "стоимость услуг" %>
<div class="content">
  <div class="container" style="margin-bottom: 50px; min-height: 300px;">
	<div class="text-page">
		<h1>Раздел находится в разработке</h1>
    </div>
    </div>
</div>