<p>Добрый день!</p>

<p>В блоге кулинарной школы Красиво Подано появилась новая статья, подробнее <%= link_to "тут", article_url(@article) %><p>
	
<p>Желаем удачи!</p>

<%= link_to "krasivopodano.ru", "krasivopodano.ru" %>