<p>Добрый день!</p>

<p>В кулинарной школе Красиво Подано на следующей неделе будут проведены мастер классы:<p>

<ul style="list-style-type: none; padding-left: 0px;">
  <% @events.each do |event| %>
  <li><b><%= Russian::strftime(event.date, "%d %B") %></b> - <%= link_to event.title, event_url(event) %></li>
  <% end %>
</ul>
	
<p>Ждем Вас!</p>

<%= link_to "krasivopodano.ru", "http://krasivopodano.ru" %>

<p>Чтобы отписаться от рассылки, перейдите по <%= link_to "ссылке", "#" %></p>