<p>Добрый день!</p>

<p>В кулинарной школе Красиво Подано будет проведен мастер класс, подробнее <%= link_to "тут", event_url(@event) %><p>
	
<p>Желаем удачи!</p>

<%= link_to "krasivopodano.ru", "krasivopodano.ru" %>