<p>Добрый день <%= @user.email %>!</p>

<p>Ваша заявка №<%= @appointment.id %> на <%= link_to "cобытие", event_url(@event) %> создана<p>
	
<p>Скоро Вам придет письмо с подтверждение Вашей заявки<p>
	
<p>Желаем удачи!</p>

<%= link_to "krasivopodano.ru", "krasivopodano.ru" %>