.text-page {
	
	h1 {
		color:#249ee7;
		margin-bottom: 8px;
		margin-top: 40px;
	}
	
	h3 {
		color: #9b2021;
		font-family: 'Conv_NeoSansPro-Regular',Sans-Serif;
		text-transform: none;
		
	}
	
	p {
		color: #0b4568;
	}
	
}

#vk_groups {
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 30px;
	float: right;
}

.unlike_link, .appointment_link {
	color: black;
}

table.user_events {
	background-color: #ffffe7;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-spacing: 40px 10px;
	
	th {
		text-align: left;
		padding: 10px;

	}
	
	tr, td {
		padding: 10px;

	}
	
	tr:last-child {
		
	}	
}

.heart_link {
	display: block;
	width: 20px;
	height: 20px;
	text-indent: -99999px;
	margin-top: 10px;
	margin-left: 20px;
	background: url('heart.png') top;
}

.appointment_popup textarea {
	margin-top: 5px;
	width: 300px;
	height: 80px;
	padding-top: 10px;
}

.appointment_popup input[type="number"] {
	margin-top: 5px;
	width: 30px;
}

.appointment_popup input[type="submit"] {
	margin-top: 0px;
}

.field_error {
	color: red;
}

.footer-menu nav a:hover {
	color: #661515;
}

.footer-contact a:hover {
	color: #661515;
}
