.text-page {
	
	h1 {
		color:#249ee7;
		margin-bottom: 8px;
		margin-top: 40px;
	}
	
	h3 {
		color: #9b2021;
		font-family: 'Conv_NeoSansPro-Regular',Sans-Serif;
		text-transform: none;
		
	}
	
	p {
		color: #0b4568;
	}
	
}

#vk_groups {
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 30px;
	float: right;
}

.unlike_link, .appointment_link {
	color: black;
}

table.user_events {
	background-color: #ffffe7;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-spacing: 40px 10px;
	
	th {
		text-align: left;
		padding: 10px;

	}
	
	tr, td {
		padding: 10px;

	}
	
	tr:last-child {
		
	}
	
	
}