.ui-datepicker {
	margin-top: 5px;
	background-color: #249ee7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid white;
}

.ui-datepicker table a {  
	padding-top: 7px;
    text-decoration: none;  
	width: 30px;
	height: 23px;
	display: block;
}

.ui-datepicker table a:hover {  
	background-color: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.ui-datepicker table {  
    width: 100%;  
}

.ui-datepicker-title {  
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
    text-align: center;  

}

.ui-datepicker table th {  
	font-size: 10px;
	background-color: #a1cce6;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: normal;
}

.ui-datepicker table th span {
	margin-left: -10px;
}


.ui-datepicker table tr{
	margin-bottom: 20px;
}

.ui-datepicker table td {  
    width: 40px;  
	height: 40px;
	text-align: center; 
	vertical-align: bottom;
}

.ui-datepicker-prev, .ui-datepicker-next {  
    display: inline-block;  
    width: 10px;  
    height: 17px;  
    text-align: center;  
    cursor: pointer;  
    background-repeat: no-repeat;  
    line-height: 600%;  
    overflow: hidden;  
}

.ui-datepicker-prev {  
	background-image: url('arrow_left.png');  
    float: left;  
	margin-left: 20px;
    background-position: 0px 0px;  
}  

.ui-datepicker-prev:hover, .ui-datepicker-next:hover {  
    background-position: 0px -17px;  
}
.ui-datepicker-next {  
	background-image: url('arrow_right.png');  
    float: right;  
	margin-right: 20px;
    background-position: 0px 0px;  
}