<p>Добрый день <%= @resource.email %>!</p>

<p>Вами был совершен запрос на смену паролья. Смениго его можно перейдя по ссылке:</p>

<p><%= link_to 'Сменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если этот емайл пришел к Вам по ошибке, просто удалите его!.</p>
