<footer>
    <div class="container">

        <div class="footer-menu">
            <nav>
                <a href="#" class="section active">кулинарная школа</a>
                <ul>
                    <li>
                        <a href="#"> о школе</a>
                    </li>
                    <li>
                        <a href="#">календарь событий</a>
                    </li>
                    <li>
                        <a href="#">архив событий</a>
                    </li>
                    <li>
                        <a href="#">услуги нашей школы</a>
                    </li>
                    <li>
                        <a href="#">заказать услуги</a>
                    </li>
                    <li>
                        <a href="#">рецепты вкусностей</a>
                    </li>
                    <li>
                        <a href="#">контакты школы</a>
                    </li>
                </ul>
            </nav>
            <nav>
                <a href="#" class="section">фуд-студия</a>
                <ul>
                    <li>
                        <a href="#"> о фуд-студии</a>
                    </li>
                    <li>
                        <a href="#">портфолио</a>
                    </li>
                    <li>
                        <a href="#">заказать услуги</a>
                    </li>
                    <li>
                        <a href="#">стоимость услуг</a>
                    </li>
                    <li>
                        <a href="#">контакты студии</a>
                    </li>
                </ul>
            </nav>
            <nav>
                <a href="#" class="section">кейтеринг</a>
                <ul>
                    <li>
                        <a href="#"> о фуд-студии</a>
                    </li>
                    <li>
                        <a href="#">портфолио</a>
                    </li>
                    <li>
                        <a href="#">заказать услуги</a>
                    </li>
                    <li>
                        <a href="#">стоимость услуг</a>
                    </li>
                    <li>
                        <a href="#">контакты студии</a>
                    </li>
                </ul>
            </nav>
        </div>
        <a href="footer-logo"><img src="/assets/footer-logo.png" alt="" /></a>
        <div class="social">
            <a rel="vk" href="http://vk.com/krasivopodano" onclick="return !window.open(this.href)"><img src="/assets/vk.png" /></a>
            <a rel="fb" href="https://www.facebook.com/krasivopodano" onclick="return !window.open(this.href)"><img src="/assets/fb.png" /></a>
            <a rel="tw" href="https://twitter.com/krasivo_podano" onclick="return !window.open(this.href)"><img src="/assets/tw.png" /></a>
        </div>
        <div class="buf"></div>
        <div class="footer-contact">
            <span>812 942 67 52</span>
            <br />
            <a href="/contacts">Измайловский, 2</a>
        </div>
        <div class="copy">
            <%= Time.now.year %> © студия вкусноты «Красиво подано», все права защищены
            <br />
            вы имеете право хранить молчание, повара, всё что вы скажете может быть приготовлено в супе
        </div>
    </div>
</footer>