<header>
    <div class="container">
        <div class="links">
            <a href="#">фуд-студия</a>
            <a href="#">кейтеринг</a>
        </div>
        <nav class="header-menu">
            <span><a href="#">о школе</a></span>
            <span><a href="#">календарь</a></span>
            <span><a href="#">услуги</a></span>
            <span><a href="#">заказать</a></span>
            <span><a href="#">рецепты</a></span>
            <span><a class="active" href="#">контакты</a></span>
        </nav>
        <div class="header-contacts">
            <span class="phones">812 964 76 77</span>
            <br />
            <a href="#">карта проезда</a>
            <br />
            <a href="#">все события школы</a>
        </div>
        <a href="#" class="logo"><img src="assets/logo.png" alt="" /></a>
        <div class="header-text">
            Наша кулинарная школа приглашает вас пройти обучение в рамках предлагаемых занятиях и совершенствовать свои кулинарные умения на наших мастер классах. бла бла бла
        </div>

    </div>
</header>