<%= render 'shared/top_menu'%>
<header>
  <div class="container top_container">
    <div class="header-contacts">
      <span class="phones">812 942 67 52</span><br />
      <a href="/contacts">карта проезда</a><br />
      <a href="/future">все события школы</a>
    </div>
    <a href="/" class="logo"><img src="/assets/logo.png" alt="" /></a>
    <div class="header-text">
      Красиво подано — это самая настоящая кулинарная школа. <br/> Только ходить в нее можно, когда захочется. <br/>
      <%= link_to "подпишись на блог", blog_feed_path, :class => 'feed' %>
      <%= link_to "подпишись на мероприятия", events_feed_path, :class => 'feed' %>
      <%= link_to "email", "#", :class => 'subscribe', :id => 'subscribe' %>
    </div>
    <% unless controller?("events") && action?("show") && @event.front_images.blank? %>
      <% if controller?("events") && action?("show") %>
        <a href="#"  class="hider-slider show"><span>развернуть медиа</span></a>
      <% end %>
      <% if action?("contacts") %>
        <a href="#"  class="hider-slider show"><span>развернуть карту</span></a>
      <% end %>
      <% end %>
  </div>
</header>