<header>
    <div class="container">
        <div class="links">
            <a href="#">директору</a>
        </div>
        <nav class="header-menu">
            <span><%= link_to "о школе", "/", :class => ('active' if controller?("static_pages") && action?("home")) %></span>
            <span><%= link_to "расписание", future_events_path, :class => ('active' if controller?("events") && action?("future")) %></span>
            <span><a href="#">что преподаем</a></span>
            <span><a href="#" class="order">записаться на урок</a></span>
            <span><%= link_to "рецепты", recipes_path, :class => ('active' if controller?("recipes") && action?("index", "show")) %></span>
            <span><%= link_to "контакты", contacts_path, :class => ('active' if controller?("static_pages") && action?("contacts")) %></span>
        </nav>
        <div class="header-contacts">
            <span class="phones">812 964 76 77</span>
            <br />
            <a href="/contacts">карта проезда</a>
            <br />
            <a href="/future">все события школы</a>
        </div>
        <a href="/" class="logo"><img src="/assets/logo.png" alt="" /></a>
        <div class="header-text">
            Наша кулинарная школа приглашает вас пройти обучение в рамках предлагаемых занятиях и совершенствовать свои кулинарные умения на наших мастер классах. бла бла бла
        </div>
		<% if controller?("events") && action?("show") %>
		<a href="#"  class="hider-slider show"><span>развернуть медиа</span></a>
		<% end %>
		<% if action?("contacts") %>
		<a href="#"  class="hider-slider show"><span>развернуть карту</span></a>
		<% end %>
    </div>
</header>