<% if flash.present? %>

<div class="form notice">

    <a href="#" class="close"></a>
    <div class="service-info">
        <div class="form-head">
            <h2><%= flash[:notice] %></h2>
       </div>
    </div>
</div>
</div>

<% end %>
