<div class="blue"></div>
<div class="form">

    <%= form_for @order do |f| %>
        <a href="#" class="close"></a>
        <div class="service-info">
            <div class="form-head">
                <h2>представьтесь, пожалуйста:</h2>
           </div>
        </div>
        <div class="client-info" style="margin-top: -110px;">
            <div class="form-head">
            </div>
            <div class="form-line">
            <label>Компания </label>
            <input name="order[company]" type="text" data-first="Грузовичкоф" value="Грузовичкоф"/>
            </div>
             <div class="form-line">
            <label>Контактное лицо</label>
            <input name="order[name]" type="text" data-first="Марсель" value="Марсель" />
            </div>
            <div class="form-line">
            <label>Телефон</label>
            <input type="text" name="order[phone1]" data-first="+7 981 000-6969" value="+7 981 000-6969"/><a href="#" class="addphone">+ добавить ещё</a>
           </div>
            <div class="more-phones"> </div>
            <div class="form-line">
            <label>Электропочта</label>
            <input name="order[mail]" style="width: 330px;" type="text" data-first="marselka@gruzowitchkoff.ru" value="marselka@gruzowitchkoff.ru" /> 
            </div>
            <div class="form-line">
                <label class="textarea">Ваш комментарий</label>
            <textarea name="order[comment]"></textarea>
            </div>
        </div>
        <%= f.submit "Заказать" %>
    <% end %>
</div>