<div class="blue order_popup"></div>
<div class="form order_popup" id="order_form_block">

    <%= form_for @order, remote: true do |f| %>
        <a href="#" class="close"></a>


        <div class="client-info">
	
            <div class="form-head">
            <h2>представьтесь, пожалуйста:</h2>
            </div>

            <div class="form-line">
            <label>Контактное лицо</label>
            <input name="order[name]" type="text" placeholder="представьтесь..." />
            </div>

            <div class="form-line">
            <label>Телефон</label>
            <input type="text" name="order[phone1]" placeholder="+7 981 000-6969" /><a href="#" class="addphone">+ добавить ещё</a>
            </div>

            <div class="more-phones"> </div>

            <div class="form-line">
            <label>Электропочта</label>
            <input name="order[mail]" style="width: 330px;" type="text" data-first="ваша почта..." placeholder="ваша почта..." /> 
            </div>

            <div class="form-line">
            <label class="textarea">Ваш комментарий</label>
            <textarea name="order[comment]"></textarea>
            </div>
			      <%= f.email_field :email2 %>


		  	<div style="color: red; margin-top: 10px;" id="order_notice"></div>

        </div>

        <%= f.submit "Заказать" %>
    <% end %>
</div>

<div id="thank_you" class="form" style="color: white;"><h1>Спасибо, мы с Вами свяжемся!</h1></div>